@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --footerspace: 40px;
  --headerspace: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: var(--headerspace);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header div {
  display: flex;
  align-items: center;
}
header img {
  height: 50px;
}
.user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #393939;
  margin: 0 10px;
}
.nav_toggle {
  display: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.nav_toggle_lines {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #676767;
  left: 0;
  transition: all 0.5s;
}
.toggle_line1 {
  top: 7px;
}
.toggle_line2 {
  top: 17px;
}
.toggle_line3 {
  top: 27px;
}

.change_toggle_line1 {
  top: 50%;
  transform: rotate(45deg);
}
.change_toggle_line2 {
  background-color: transparent;
}
.change_toggle_line3 {
  top: 50%;
  transform: rotate(-45deg);
}

/* aside nav section */
aside {
  background-color: #e3e3e3;
  width: 150px;
  position: fixed;
  left: 0;
  top: var(--headerspace);
  bottom: var(--footerspace);
  z-index: 1;
}
.nav_list {
  list-style-type: none;
}
span i {
  width: 25px;
  display: inline-block;
}
.nav_link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #393939;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 5px;
  transition: 0.5s;
  font-weight: 600;
}
.nav_link:hover {
  color: #fff;
  background-color: #393939;
}

.nav_item_active {
  background-color: #393939;
  color: #fff;
}

main {
  margin: var(--headerspace) 0 var(--footerspace) 150px;
  /* background-color: #e3e3e3; */
  padding: 0 10px;
  min-height: 90vh;
}

/* For dashboard page anchors */
.page_anchor {
  color: #fff;
  background-color: #eb392e;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.page_anchor:hover {
  color: #eb392e;
  background-color: #fff;
  border: 1px solid #eb392e;
}

/* footer section */
footer {
  background-color: #393939;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: var(--footerspace);
}

@media screen and (max-width: 768px) {
  aside {
    width: 80px;
  }
  .nav_link {
    flex-wrap: wrap;
    font-size: 14px;
  }

  main {
    margin-left: 80px;
  }
}

/* rotate div on form submit */
.send_box {
  display: flex;
  align-items: center;
}
.rotate {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  border: 2px solid darkgreen;
  border-bottom: 2px solid transparent;
  margin-left: 5px;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  display: inline-block;
}
.rotate_hide {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* reply */
.success_message {
  color: darkgreen;
  font-size: 14px;
}
.error_message {
  color: red;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  /* header section */
  .nav_toggle {
    display: block;
  }
  /* asise nav section */
  aside {
    left: -500%;
    transition: all 0.5s;
  }
  .show_aside {
    left: 0;
  }

  main {
    margin-left: 0;
  }
  .page_anchor {
    font-size: 14px;
  }
}
