.user_account {
  min-height: 500px;
  position: relative;
  background-image: url("../images/login/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
form {
  width: 400px;
  padding: 10px;
  border-radius: 5px 30px 5px 30px;
  background-color: #fff;
  box-shadow: 0 0 5px #eb392e;
  font-family: "Roboto", sans-serif;
  color: #757575;
  margin: 10px;
}
.form_detail {
  font-size: 18px;
}
form div {
  margin: 10px 0;
  position: relative;
}
.account_icon {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0%, -50%);
}
.input_field {
  height: 40px;
  padding: 2px 30px 2px 2px;
  width: 100%;
  font-size: 16px;
}
.input_field:focus {
  outline: none;
}
.input_field::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* for passport image */
.passport_size{
  width: 100px;
  height: 100px;
}


@media screen and (max-width: 567px) {
  .user_account {
    min-height: 300px;
  }
  form {
    width: 90%;
  }
  .form_detail {
    font-size: 16px;
  }
}
